{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "jest"],
    "extends": ["airbnb-typescript/base"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "jest/globals": true
    },
    "rules": {
        "no-console": "off"
    }
}